<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818640148205-kv773l4bu5pf4u8s3ovegemhv2c530c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818640148205-kv773l4bu5pf4u8s3ovegemhv2c530c8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>818640148205-m52elt7p2olaon399627ds08rfqa817h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaFh0qXhlmxZf5xLpDxjXkxzLbhpsQKC8</string>
	<key>GCM_SENDER_ID</key>
	<string>818640148205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.municipality.jdeidetmarjeyoun</string>
	<key>PROJECT_ID</key>
	<string>marjeyoun-180706</string>
	<key>STORAGE_BUCKET</key>
	<string>marjeyoun-180706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818640148205:ios:542c129c3cbb069a</string>
	<key>DATABASE_URL</key>
	<string>https://marjeyoun-180706.firebaseio.com</string>
</dict>
</plist>